assignments-old/*
.ipynb_checkpoints/*
assign/*
labs/.ipynb_checkpoints/*
slides_pdf/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
notebooks/__pycache__/*
notebooks/mglearn/__pycache__/*
studies/.ipynb_checkpoints/*
studies/__pycache__/*
templates/.ipynb_checkpoints/*
*/.DS_Store
.DS_Store
