# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: ML Engineering
author: Joaquin Vanschoren
logo: notebooks/images/banner.jpeg
copyright: "2023. CC0 Licensed - Use as you like"  # Copyright year to be placed in the footer


# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: off
  timeout: -1
  exclude_patterns:
    - 'S*'
    - '09*'
    - '10*'

# Include slides
sphinx:
  config:
    html_extra_path: ['slides_html','slides_pdf']

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
#bibtex_bibfiles:
#  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/ml-course/master  # Online location of your book
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  favicon: notebooks/images/favicon.png
  extra_navbar: ""
  
launch_buttons:
  colab_url: "https://colab.research.google.com"
