scipy==1.17.0
pandas==3.0.0
category-encoders==2.9.0
gdown==5.2.1
imbalanced_learn==0.14.1
ipywidgets==7.8.5
jupyterlab==4.5.3
matplotlib==3.10.8
mlxtend==0.24.0
openml==0.15.1
seaborn==0.13.2
graphviz==0.20.1
scikit-learn==1.8.0
torch==2.10.0
torchvision==0.25.0
torchviz==0.0.3
lightning==2.5.0
tensorboard==2.20.0
scikit_image==0.26.0
torchinfo==1.8.0
opencv-python>=4.13.0
albumentations==2.0.8
