scipy>=1.11.4
pandas>=2.2.0
category-encoders>=2.6.3
gdown>=5.1.0
GPy>=1.13.1
imbalanced_learn>=0.12.0
ipywidgets>=8.1.1
jupyterlab==4.2.5
matplotlib>=3.8.2
mlxtend>=0.23.1
openml>=0.14.2
seaborn>=0.13.2
graphviz>=0.20.1
scikit-learn>=1.6.0
tensorflow==2.18.0
fancyimpute
torch>=2.6.0
torchvision>=0.21.0
torchviz>=0.0.3
lightning>=2.5.0
tensorboard>=2.18.0
scikit_image>=0.25.2
torchinfo>=1.8.0
opencv-python>=4.11.0
albumentations>=2.0.5
