scipy
pandas
category-encoders
gdown
imbalanced_learn
ipywidgets
jupyterlab
matplotlib
mlxtend
openml
seaborn
graphviz
scikit-learn
torch
torchvision
torchviz
lightning
tensorboard
scikit_image
torchinfo
opencv-python
albumentations
